
<div class="text-center">
    <h1 class="display-4">Soy Kevin David Jaramillo  </h1>
    <h2> Soy un desarrollador full stack, especializado en tecnologias Microsoft y Blockchain </h2>
    <img id="foto" src="~/img/Foto.jpg" alt="foto kevin" />

</div>