@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por tu mensaje</h1>
<p>Nos pondremos en contacto de inmediato</p>
<div>
    <a asp-action="Index" asp-controller="Home">Vuelve al inicio</a>
</div>